

.centerblock {
  width: 100%;
  min-width: 0;
}



.centerblock__search {
  width: 100%;
  border-bottom: 1px solid #4e4e4e;
  margin-bottom: 51px;
  display: flex;
  align-items: center;
}

.search__text {
  flex: 1;
  background-color: transparent;
  border: none;
  padding: 13px 10px 14px;
  font-size: 16px;
  color: #ffffff;
  outline: none;
}

.search__text::placeholder {
  color: #ffffff;
}



.centerblock__h2 {
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.8px;
  margin-bottom: 30px;
  color: #ffffff;
}



.centerblock__filter {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 30px;
}

.filter__title {
  font-size: 16px;
  color: #ffffff;
  margin-right: 15px;
}


.filter__wrapper {
  position: relative;
}


.filter__button {
  position: relative;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 60px;
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
  cursor: pointer;
  text-transform: lowercase;
}

.filter__button:hover {
  border-color: #ad61ff;
  color: #ad61ff;
}

.filter__button_active {
  border-color: #ad61ff;
  color: #ad61ff;
}


.filter__count {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 18px;
  height: 18px;
  background: #ad61ff;
  color: #ffffff;
  font-size: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}



.filter__dropdown {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;

  width: 248px;
  max-height: 280px;

  background: #313131;
  border-radius: 12px;

  padding: 24px;

  z-index: 1000;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}



.filter__list {
  list-style: none;
  margin: 0;
  padding: 0;

  max-height: 220px;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 8px;
}


.filter__item {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.15s;
}


.filter__item:hover {
  color: #ad61ff;
}

.filter__item_active {
  color: #ad61ff;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}



.filter__list::-webkit-scrollbar {
  width: 2px;
}

.filter__list::-webkit-scrollbar-thumb {
  background: rgba(173, 97, 255, 0.8);
  border-radius: 8px;
}




.centerblock__content {
  display: flex;
  flex-direction: column;
}

.content__playlist {
  display: flex;
  flex-direction: column;
}
