.centerblock {
  flex-grow: 3;
  padding: 20px 40px 20px 111px;
}

.centerblock__search {
  width: 100%;
  border-bottom: 1px solid #4e4e4e;
  margin-bottom: 51px;
  display: flex;
  align-items: center;
}

.search__svg {
  width: 17px;
  height: 17px;
  margin-right: 5px;
  stroke: #ffffff;
  fill: transparent;
}

.search__text {
  flex-grow: 100;
  background-color: transparent;
  border: none;
  padding: 13px 10px 14px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.search__text::placeholder {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.centerblock__h2 {
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.8px;
  margin-bottom: 45px;
  color: #ffffff;
}

.centerblock__filter {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 30px;
}


.filter__title {
  font-size: 16px;
  line-height: 24px;
  margin-right: 15px;
  color: #ffffff;
}

.filter__button {
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;
  color: #ffffff;
  cursor: pointer;
}

.filter__button:not(:last-child) {
  margin-right: 10px;
}

.centerblock__content {
  display: flex;
  flex-direction: column;
}

.content__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.playlistTitle__col {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #696969;
  text-transform: uppercase;
}

.playlistTitle__svg {
  width: 12px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}

.col01 {
  width: 447px;
}

.col02 {
  width: 321px;
}

.col03 {
  width: 245px;
}

.col04 {
  width: 60px;
  text-align: end;
}

.content__playlist {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.playlist__item {
  width: 100%;
  display: block;
  margin-bottom: 12px;
}

.playlist__track {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.track__title {
  display: flex;
  align-items: center;
  width: 447px;
}

.track__titleImage {
  width: 51px;
  height: 51px;
  padding: 16px;
  background: #313131;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 17px;
}

.track__titleSvg {
  width: 18px;
  height: 17px;
  fill: transparent;
  stroke: #4e4e4e;
}

.track__titleLink {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.track__titleSpan {
  color: #4e4e4e;
}

.track__author {
  width: 321px;
  display: flex;
  justify-content: flex-start;
}

.track__authorLink {
  font-size: 16px;
  color: #ffffff;
}

.track__album {
  width: 245px;
}

.track__albumLink {
  font-size: 16px;
  color: #696969;
}

.track__timeSvg {
  width: 14px;
  height: 12px;
  margin-right: 17px;
  fill: transparent;
  stroke: #696969;
}

.track__timeText {
  font-size: 16px;
  line-height: 24px;
  color: #696969;
}


.filter__button {
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #505050;
  border-radius: 24px;
  padding: 8px 22px;
  color: #ffffff;
  cursor: pointer;
  background: transparent;
  transition: background 0.2s ease, color 0.2s ease, border-color 0.2s;
}

.filter__button:not(:last-child) {
  margin-right: 10px;
}

.active {
  background-color: #fff;
  color: #000;
}

.filter__list {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 9px;

  width: 248px;
  max-height: 230px;
  overflow-y: auto;

  padding: 20px 16px;
  border-radius: 12px;

  background: #313131;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.3);

  margin-top: 10px;
  margin-bottom: 30px;
}



.filter__list::-webkit-scrollbar {
  width: 4px;
}

.filter__list::-webkit-scrollbar-track {
  background-color: rgba(75, 73, 73, 1);
}

.filter__list::-webkit-scrollbar-thumb {
  background-color: white;
}

.filter__item {
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255,255,255,0.9);
  transition: color 0.2s;
}

.filter__item:hover {
   opacity: 1;
  color: #9A48D0;
}

.filter__item.active {
  color: #580EA2;
  font-weight: 500;
}

.filter__button.active {
    
  background-color: #580ea2;
  border-color: #580ea2;
  color: #ffffff;
}
.filter__button:hover {
  border-color: #ffffff;
  background: rgba(255,255,255,0.05);
}
.filter__list::-webkit-scrollbar {
  width: 4px;
}

.filter__list::-webkit-scrollbar-track {
  background: #3b3b3b;
}

.filter__list::-webkit-scrollbar-thumb {
  background: #ad61ff;
  border-radius: 8px;
}
.centerblock__h2 {
  margin-bottom: 30px; 
}
.filter__wrapper {
  position: relative;
}

.filter__list {
  position: absolute;
  top: 50px;
  background: #313131;
  border-radius: 12px;
  padding: 20px 16px;
  width: 230px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 100;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

.filter__item {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

.filter__item:hover {
  color: #ad61ff;
}
