.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #383838;
}

.container {
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  background-color: #181818;
}

.main {
 min-height: 100vh;
  background-color: #181818;

}

.main__content {
  max-width: 1136px;      
  margin: 0 auto;        
  padding: 90px 16px 90px; 
  display: grid;
  grid-template-columns: minmax(0, 1fr) 250px; 
  column-gap: 50px;
}

.page {
  width: 100%;
  min-height: 100vh;
  background-color: #181818;
  overflow-x: hidden;
}


.page__content {
  max-width: 1136px;
  margin: 0 auto;

  padding-top: 90px;
  padding-bottom: 110px; 

  display: grid;
  grid-template-columns: 1fr 250px;
  column-gap: 50px;
}
