.main__nav {
  width: 244px;
  background-color: #181818;
  padding: 20px 0 20px 36px;
}

.nav__logo {
  width: 113.33px;
  height: 43px;
  padding: 13px 0;
  background-color: transparent;
  margin-bottom: 20px;
}

.nav__burger {
  width: 20px;
  height: 36px;
  padding: 13px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.burger__line {
  width: 100%;
  height: 1px;
  background-color: #d3d3d3;
}

.nav__menu {
   max-height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.menu__list {
  padding: 18px 0 10px 0;
}

.menu__item {
  padding: 5px 0;
  margin-bottom: 16px;
}

.menu__link {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.logo__image {
  width: 113.33px;
  height: 17px;
  color: #181818;
}
.menu__list {
  list-style: none; 
  padding: 0;
  margin: 0;
}

.menu__item a {
  text-decoration: none; 
  color: #fff; 
}
.nav__menu_open {
  max-height: 300px; 
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
